body {
    background-color: var(--white);
}
 
/* heeder */
 header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid #dddddd;
}header img {
    width: 100px;
}.navegar-header {
    display: flex;
    gap: 40px;
}.navegar-header a {
    font-family: var(--font);
    color: #555555;
}.btn-primario {
    color: var(--white);
    padding: 10px 24px;
    border-radius: 10px;
    font-family: var(--font);
    background-color: var(--primary);
} 